<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="convo">
    <h2><%= @question %></h2>
    <h3>- you</h3>
  </div>
  <div class="convo coach">
    <h2><%= @answer %></h2>
    <h3>- your coach</h3>
  </div>
  <%= link_to "Ask a new question", "/ask" %>

</div>
